section.podcast#podcast
  .flex.flex--center
    .col-2
      p.home-lead ...and Podcasting with friends.

      .podcast-content
        .podcast-thumb
          img(src="/assets/img/podcast-thumb.png")

        .podcast-text
          .date 20 January 2015
          .title Full-Process Designer
          .player <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/14311?style=light' width='100%'></iframe>
  
  .flex.flex--center
    .col-1
      p.text-hide Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed placeat dolore nulla animi quas dolorum vel aspernatur, maxime ut itaque velit enim repudiandae temporibus possimus vitae consequatur odio eius nostrum!
      a(href="http://travandlos.com" target="_blank").home-cta.web Website
    
    .col-1
      p.text-hide Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed placeat dolore nulla animi quas dolorum vel aspernatur, maxime ut itaque velit enim repudiandae temporibus possimus vitae consequatur odio eius nostrum!
      a(href="").home-cta.itunes iTunes