section.youtube#youtube
  .flex.flex--space-around
    .col-1
      .video-wrap
        .video-strip
        .flex-video <iframe src="https://www.youtube.com/embed/89sacBIEq4g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    
    .col-1.order-first.description
      .desc-wrap
        p.home-lead.outdented ...watching video tutorials.
        a(href="http://youtube.com/devtipsfordesigners").home-cta Watch On YouTube