mixin face(face, words, names)
  li.face(style="background-image: url(#{face});")
    .bubble
      p #{words}
      cite – #{names}

section.mentoring
  .flex.flex--center
    .col-1
      ul.face-wrap
        +face ("http://fillmurray.com/100/100","bla bla bla Quisquam ullam possimus eligendi repellat cupiditate voluptatibus, soluta numquam voluptas nihil accusantium ab blanditiis corrupti cum, quae ut! Dicta, perspiciatis asperiores ad?","Fill Murray")
        +face ("http://fillmurray.com/200/200","bla bla bla Quisquam ullam possimus eligendi repellat cupiditate voluptatibus, soluta numquam voluptas nihil accusantium ab blanditiis corrupti cum, quae ut! Dicta, perspiciatis asperiores ad?","Fill Murray")
        +face ("http://fillmurray.com/80/80","bla bla bla Quisquam ullam possimus eligendi repellat cupiditate voluptatibus, soluta numquam voluptas nihil accusantium ab blanditiis corrupti cum, quae ut! Dicta, perspiciatis asperiores ad?","Fill Murray")
        +face ("http://fillmurray.com/300/300","bla bla bla Quisquam ullam possimus eligendi repellat cupiditate voluptatibus, soluta numquam voluptas nihil accusantium ab blanditiis corrupti cum, quae ut! Dicta, perspiciatis asperiores ad?","Fill Murray")
        +face ("http://fillmurray.com/350/350","bla bla bla Quisquam ullam possimus eligendi repellat cupiditate voluptatibus, soluta numquam voluptas nihil accusantium ab blanditiis corrupti cum, quae ut! Dicta, perspiciatis asperiores ad?","Fill Murray")
        +face ("http://fillmurray.com/400/400","bla bla bla Quisquam ullam possimus eligendi repellat cupiditate voluptatibus, soluta numquam voluptas nihil accusantium ab blanditiis corrupti cum, quae ut! Dicta, perspiciatis asperiores ad?","Fill Murray")
        li.face.back-btn
    
    .col-1
      .desc-wrap
        p.home-lead.outdented ...just a phone call away!
        a(href="").home-cta Call to Talk